html,
body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  transition: 0.5s;
  background-color:rgb(255, 255, 255);
}

header {
 background-color:rgb(232, 238, 241);
 border-radius: 10px;
}

header p{

font-size: 25px !important;
}

.passport img{
width:90%;
border-radius: 50%;

}
.name{
  background-color:white;
border-radius: 10px;;
}

.icons {
  width: 35px;
  margin: 0px 2px 0px 2px;
  padding: 0;
}

.icons:hover {
  transform: scale(1.1);
}



.desc {

}

.about-me {
  background: #e8eef1;
}
.about-me p {
  margin: 0px;
  font-size: 20px;
}

.locate, .skills, .projects, .Work-Experience, .Education, .languages {
  background: rgb(232, 238, 241);

}
 .locate span{
   min-height:110px;
 }

 .checked{
   color:orange;
 }

 .zuri{
   width:50px;
   height:50px;
   border-radius: 50%;
   border: 2px solid black;
 }

 .HNG{
   width:200PX;
   margin-left:10px;
 }
 @media(max-width:575px){
  main{
  padding:0px 20px;
  }
  .head{
    padding:0px 30px ;

  } 
  .passport img{
    margin-left:calc((100% - 200px)/2) !important;
  }
  .name{
    margin-top:20px;
  }
  .title{
    font-size: 33px;
  }
 
}
@media(min-width:576px){
  main{
  padding:0px 30px;
  }
  .head{
    padding:0px 30px;

  }
 
}

@media(min-width:768px){
  main{
  padding:0px 40px;
  }
 
}

@media(min-width:992px){
  main{
  padding:0px 250px;
  }
  .head{
    padding:0px 400px;

  }
}